# remora_api.model.TestResult

## Load the model package
```dart
import 'package:remora_api/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**attemptId** | **String** |  | 
**correctCount** | **int** |  | 
**finishedAt** | [**DateTime**](DateTime.md) |  | 
**review** | [**BuiltList&lt;TestQuestionReview&gt;**](TestQuestionReview.md) |  | 
**score** | **num** |  | 
**setId** | **String** |  | 
**total** | **int** |  | 
**wrongCardIds** | **BuiltList&lt;String&gt;** |  | 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


